extends dashboard

block dashboard-ui
	div(ng-controller="AdminProjectsCtrl")
		h4 Projects in which you have admin rights.
		p {{error}}
		div(class='list-group')
			ul(class="list-group-item small-ht" ng-repeat="project in data") 
				a(href="/projects/details/{{project.project_id}}" class="list-group-item-heading") {{project.title}}
				p(class="list-group-item-text") Description: {{project.description}}
			
			
		

