extends dashboard

block dashboard-ui
	div(ng-controller="AdminProjectsCtrl")
		h3 Projects in which you have admin rights.
		div(ng-show="errorValue") {{errormessage}}
		div(class='list-group')
			ul(class="list-group-item" ng-show="!errorValue" ng-repeat="project in data") 
				h4(class="list-group-item-heading") {{project.title}}
				p(class="list-group-item-text") Description: {{project.description}}
				div(class="btn-group inline")
					button(class="btn btn-success" type="button" data-toggle="modal" data-target="#{{project.project_id}}") Create Notice
					div(class="modal fade" id="{{project.project_id}}" role="dialog")
						div(class="modal-dialog")
							div(class="modal-content")
								div(class="modal-header")
									button(type="button" class="close" data-dismiss="modal") &times;
									h4(class="modal-title") Create Notice
								div(class="modal-body")
									form(class='form-horizontal',name='noticeform',role='form', method="post" action="/projects/createnotice/user" novalidate)
										div(class = 'form-group')
											label(class='control-label col-sm-2',for='content') Project Title:
											div(class='col-sm-10')
												input(class = 'control-label' value="{{project.title}}" disabled) 
										div(class='form-group')
											label(class='control-label col-sm-2',for='content') Content:
											div(class='col-sm-10')
												textarea(class='form-control', name='content', type='text',id='content',ng-model="notice.content", required)
												span(style="color:red", ng-show="noticeform.content.$dirty && noticeform.content.$invalid")
													span(ng-show="noticeform.content.$error.required") Content is required.
												
										div(class='form-group')
											div(class="span7 text-center")
												button(type="submit" ng-disabled='noticeform.content.$invalid' class="btn btn-success",ng-click="createnotice()") Create Notice
										
										div(class='form-group')
											div(class='span7 text-center')
												h4(ng-show="error") {{errmessage}}

					button(class="btn btn-success") Show Notices
			
			
		

