extends layout

block content
	div(ng-controller="DashboardCtrl")
		h4 Hi {{username}}
		div(class="btn-group btn-group-justified" role="group")
			div(class="btn-group" role="group")
				a(type="button" class="btn btn-default", href="/users/dashboard/userdetails") Your Details
			div(class="btn-group" role="group")
				a(type="button" class="btn btn-default", href="/users/dashboard/adminprojects") Projects-Admin
			div(class="btn-group" role="group")
				a(type="button" class="btn btn-default", href="/users/dashboard/memberprojects") Projects-Member
			div(class="btn-group" role="group")
				a(type="button" class="btn btn-default", href="/users/dashboard/projectinvites") Invites Received
			div(class="btn-group" role="group")
				a(type="button" class="btn btn-default", href="/users/dashboard/requestsent") Request Sent
			div(class="btn-group" role="group")
				a(type="button" class="btn btn-default", href="/users/dashboard/otherprojects") Other Projects
			div(class="btn-group" role="group")
				a(type="button" class="btn btn-default", href="/users/dashboard/createproject") Create Project
		block dashboard-ui
				
