extends layout

block content

	div(id="content")
		div(class="A")
			| 
			h4(class="heading") EEE Projects 
				a(href="/projects/eee")
					span(class="label label-default explore") Explore
		div(class="B") 	
			|	
			h4(class="heading") CSE Projects 
				a(href="/projects/cse")
					span(class="label label-default explore") Explore
		div(class="C") 	
			|	
			h4(class="heading") Mechanical Engineering Projects 
				a(href="/projects/mech")
					span(class="label label-default explore") Explore
		div(class="D")
			| 		
			h4(class="heading") Chemical Engineering Projects 
				a(href="/projects/chem")
					span(class="label label-default explore") Explore
			

				
			