@font-face { 
  font-family: "myriadsetprotext"; 
  src: url("../fonts/myriad-set-pro_text.ttf") format("truetype"); 
}

*{font-family : myriadsetprotext;}

body {
  padding: 50px;
}

.footer{
  height : 50px;
  background-color: #03051B
}
.red{
  color: brown;
}
.text-muted{
  margin-top : 12px;
}

.left{
  padding-top: 5px; 
  float: left;
}

.list-group-item{
  height: 100px;  
}

.invite{
  float: right;
  margin-bottom: 50px;
}

.right{
  float: right;
}

.text-left{
  text-align: left;
}

a {
  color: #ffffff;
}
